* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 16px;
}

.full {
    width: 100%;
    height: 100%;
}

.absolute {
    position: absolute;
}

.scroll {
    overflow-y: scroll;
}

.color-error {
    color: #FA2400;
}

.color-success {
    color: #019D50;
}

.color-info {
    color: #2B7CD6;
}